@page "/products"
@inject IProductService ProductService
@inject NavigationManager NavigationManager


<style>
    #header{
        background-color: lightblue;
    }

</style>

<PageTitle>Products</PageTitle>
<h3>Products</h3>

<table class="table">
    <thead>
        <tr id="header">
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ProductService.Products)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Category.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowProduct(product.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateProduct">Create new product</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }

    void ShowProduct(int id)
    {
        NavigationManager.NavigateTo($"product/{id}");
    }

    void CreateProduct()
    {
        NavigationManager.NavigateTo("/product");
    }
}